
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.header {
  display: flex;
  justify-content: flex-start;
  background-color: #333;
  gap:30px;
  padding: 10px 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  a{
    text-decoration: none;
    color: white;
  }
}

.component {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: #333;
  gap:30px;
  padding: 10px 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
}

.searchRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 10px;
  input {
    border-radius: 8px;
    padding: 10px 10px;
  }

  select {
    border-radius: 8px;
  }
}

.charList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  margin: 10px 10px;
}

.charCard {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  padding: 5px;
  gap: 5px;
  margin: 10px 10px;
  background-color: rgb(200,200,200);
  img {
    border-radius: 8px;
    width: 150px;
    height: 150px;
  }
  button {
    align-self: center;
    width: 60%;
    border-radius: 8px;
    width: 60%;
    padding: 10px 10px;
    border-style: none;
    background-color: green;
    transition: 0.3s ease;
  }
  button:hover{
    transform: scale(1.05);
  }
}

.charDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
  }
  a{
    text-decoration: none;
    color: black;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    align-self: center;
    width: 5%;
  }
}

.username {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 15px 10px;
  width: 20%;
  border-radius: 10px;
  background-color: #333;
  input{
    border-radius: 8px;
    padding: 7px 7px;
    border-style: none;
    width: 80%;
    margin-bottom: 10px;
  }
  button{
    border-radius: 8px;
    width: 60%;
    padding: 10px 10px;
    border-style: none;
    background-color: green;
    transition: 0.3s ease;
  }
  button:hover{
    transform: scale(1.05);
  }
  label{
    color: white;
  }
}
